button.project {
    display: flex; 
    justify-content: space-between;

    background-color: var(--primary-background-color); 
    font-size: 1.5rem;
    color: var(--font-light);  
    height: 3.75rem;
    line-height: 3.75rem;

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    padding: 0 1.25rem;
}
button.project:hover {
    border-radius: 1rem;
}

button.project:hover, 
button.project:hover button.projectDelete {
    background-color: white; 
}

button.projectActive {
    color: var(--blue); 
}

button.projectDelete {
    align-self: center;
    flex-shrink: 0; 

    background-image: url("../assets/delete.svg");
    background-repeat: no-repeat;
    width: 1.4rem; 
    height: 1.4rem; 
    margin-right: 0.4rem;
    margin-bottom: 0.5rem;
}

button.projectDelete:hover {
    background-image: url("../assets/deleteRed.svg"); 
    background-repeat: no-repeat;
    margin-right: 0.15rem; 
    margin-bottom: 0.1rem; 
}