#projectDialog {
    width: 45rem; 
    height: 12rem; 
    place-self: center; 
    border: none; 
    border-radius: 1rem; 
}

#projectDialog form {
    display: grid; 
    grid-template: 1fr 1fr / 1fr 7rem; 
    padding: 1.25rem; 
}

#projectDialog legend {
    grid-area: 1 / 1 / 2 / 2; 
    font-size: 1.75rem; 
    font-weight: bold; 
    color: #1B65B6;
    align-self: center; 
}

#projectTitle {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1rem; 
    border: none;
    border-radius: 1rem; 
    background-color: #DAE4F2;
    color: #85BDFB;
    padding: 0 1.25rem;
    align-self: center; 
    height: 3rem;
}

#projectTitle::placeholder {
    color: #85BDFB;
}

#projectTitle:focus {
    outline: none; 
}

#projectDialogSubmit {
    grid-area: 2 / 2 / 3 / 3; 
    align-self: center; 
    justify-self: close;
    width: 7rem; 
    height: 4rem; 
    background-color: white; 
    background-image: url("../assets/submitLight.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

#projectDialogSubmit:hover {
    background-image: url("../assets/submitDark.svg");
}

#projectDialogClose {
    grid-area: 1 / 2 / 2 / 3; 
    align-self: center; 
    justify-self: end;
    background-image: url("../assets/closeLight.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem; 
    height: 3rem; 
    padding: 0; 
    background-color: white;
}

#projectDialogClose:hover {
    background-image: url("../assets/closeDark.svg");
}