.task-details-container {
    display: grid; 
    grid-template: 1.75rem 2rem 9.5rem 1fr / 2.5rem 1fr; 
    grid-row-gap: 1.25rem;
    padding: 0 1.25rem; 
}

.task-details-title-circle {
    grid-row: 2 / 3; 
    grid-column: 1 / 2; 
    background-image: url("../assets/circleBlue.svg");
    margin-top: 0.1rem;
    background-repeat: no-repeat;
}

.task-details-title {
    font-size: 1.75rem; 
    color: var(--blue); 
    grid-row: 2 / 3; 
    line-height: 1.75rem;
    font-weight: bold; 
}

.task-details-title:hover {
    text-decoration: underline;
}

.task-details-title:focus {
    outline: none; 
}

.task-details-info {
    display: grid; 
    grid-template: 1fr 1fr / 1fr 1fr; 

    grid-row: 3 / 4; 
    grid-column: 1 / 3; 

    background-color: white; 
    border-radius: 1rem;
    padding: 1.25rem;
    color: var(--font-dark); 
}

.task-details-info-date {
    grid-area: 1 / 1 / 2 / 2; 
    font-size: 1.25rem; 
    color: var(--font-dark);
    align-self: center; 
    justify-self: start;
}

.task-details-date {
    grid-area: 1 / 2 / 2 / 3; 
    font-size: 1.25rem;
    align-self: center; 
    justify-self: end; 
    background-color: var(--primary-background-color);
    padding: 0.5rem 1.25rem;
    border-radius: 1rem; 
}

.task-details-date:hover {
    outline: solid 1px var(--blue); 
    color: var(--blue); 
}

.task-details-date:active {
    outline: none; 
}

.task-details-info-priority {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1.25rem; 
    color: var(--font-dark); 
    align-self: center; 
    justify-self: start;
}

.task-details-priority {
    grid-area: 2 / 2 / 3 / 3; 
    font-size: 1.25rem; 
    align-self: center;
    justify-self: end; 
    padding: 0.5rem 1.25rem
}

.task-details-priority:hover {
    color: var(--blue); 
}

.task-details-description {
    grid-row: 4 / 5; 
    grid-column: 1 / 3; 
    background-color: #DAE4F2;
    height: 1fr; 
    border-radius: 1rem;
    padding: 1.25rem; 
    overflow-wrap: break-word; 
    white-space: normal; 
    color: #85BDFB; 
    margin-bottom: 1.25rem;
    resize: none; 
}

.task-details-description:focus {
    outline: none;
}

